<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>JMStVCamp, 30.4.2011, Unperfekthaus, Essen</title>
    <meta name="description" content="JMStVCamp - Moderner Jugendmedienschutz im Zeitalter digitaler Medien und Internet">
    <meta name="author" content="Christian Scholz">

    <meta property="og:title" content="JMstVCamp" /> 
    <meta property="og:site_name" content="JMStVCamp" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="http://jmstvcamp.de/" /> 
    <meta property="og:image" content="http://jmstvcamp.de/img/facebook.png" /> 
    <meta property="og:description" content="Das JMStVCamp findet am 30.4.2011 im Unperfekthaus in Essen statt." /> 
    <meta property="fb:admins" content="652229223" /> 
    
    <link rel="index" title="JMStVCamp" href="http://jmstvcamp.de/" /> 
    <link rel="canonical" href="http://jmstvcamp.de/" /> 
    <link rel="stylesheet" href="/css/screen.css" /> 

    <script src="/js/yepnope.js"></script>
    <script>
        yepnope({
          load: ['/js/jquery.min.js',
                 '/js/jquery.tweet.js'
                 ],
          complete: function () {
            $(document).ready(function() {
                $("#t_jmstvcamp").tweet({
                    query: 'jmstvcamp',
                    count: 5,
                    avatar_size: 48,
                    refresh_interval: 5,
                    template: "<div class='tweet'>{avatar}<div class='tweet-content'>{user}{join}{text}{time}</div></div>",
                })
                $("#t_jmstv").tweet({
                    query: 'jmstv',
                    count: 5,
                    avatar_size: 48,
                    refresh_interval: 5,
                    template: "<div class='tweet'>{avatar}<div class='tweet-content'>{user}{join}{text}{time}</div></div>",
                })
            });
          }
        });
    </script>
</head>
<body>
    {% block all %}

    <div id="container">
        <header id="topheader">
            <div id="headercontent">
                <h1 id="logo"><a href="/"><img src="/img/logo.png" /></a></h1>
                <aside id="loginbox">
                    {% if logged_in %}
                        <a href="/user/profile">{{user.name|e}}</a>|
                        <a href="/logout">Ausloggen</a>
                    {% else %}
                        <a href="/login">Login</a> |
                        <a href="/user/register">Registrieren</a> 
                        {% endif %}<br />
                    <div id="socialbox">
                        <div id="tweetbox">
                            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://jmstvcamp.de/" data-text="Jetzt anmelden! Das JMStVCamp am 30.4.2011 im Unperfekthaus in Essen." data-count="vertical" data-via="jmstvcamp" data-lang="de">Tweet</a>
                        </div>
                        <div id="likebox">
                            <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fjmstvcamp.de&amp;layout=box_count&amp;show_faces=false&amp;width=155&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:155px; height:65px;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                </aside>
            </div>
        </header>
        <nav>
            <div id="navblock">
                <ul id="navcontent">
                    <li><a href="/">Startseite</a></li>
                    <li><a href="/wannwo.html">Wann und wo</a></li>
                    <li><a href="/teilnehmer.html">Teilnehmer</a></li>
                    <li><a href="/kontakt.html">Kontakt</a></li>
                </ul>
            </div>
        </nav>

        <div id="main">
            <div class="page">
                <div class="bigcolumn" id="content">
                    {% block content %}
                    <div id="block-welcome" class="block start">
                        <h2>Willkommen beim JMStVCamp!</h2>
                        <div id="introtext">
                        Wie muss Jugendmedienschutz im Zeitalter neuer Medien aussehen? Das Scheitern der Novellierung des Jugendmedienschutz-Staatsvertrags (JMStV) als Aufhänger nehmend, wollen wir dies gemeinsam diskutieren. Auf dem JMStVCamp wollen wir die Diskussion von Grund auf neu starten, wir wollen wissen, was genau eigentlich das Problem ist, welche Fragen offen sind und ob nicht ein positiver, Chancen orientierter Jugendmedienschutz im Mittelpunkt stehen sollte. "Wir" bedeutet dabei, dass alle eingeladen sind, also Parteien jeglicher Couleur, Wissenschaftler, Medienpädagogen, Jugendschützer,Bürger, alt wie jung. 
                        </div>
    
                        {% if not logged_in %}
                            <a id="start-register" style="cursor: pointer" href="/user/register" class=""><img src="/img/button-register.png" /></a>
                        {% endif %}

                        <div class="rows">
                            <div class="row">
                                <h4>Tweets zu #jmstvcamp</h4>
                                <div class="tweets" id="t_jmstvcamp"></div>
                            </div>
                            <div class="row last">
                                <h4>Tweets zu #jmstv</h4>
                                <div class="tweets" id="t_jmstv"></div>
                            </div>
                        </div> <!-- rows -->
                    </div> <!-- welcome-block -->
                    {% endblock %}
                </div> <!-- content -->
                <aside>
                    <h2>Information</h2>
                    <div class="sideblock">
                        <div class="sidehead">Wann?</div>
                        <div class="sidecontent">30.4.2011</div>
                        <div class="sidehead">Wo?</div>
                        <div class="sidecontent">Unperfekthaus, Essen</div>
                        <div class="sidehead">Eintritt?</div>
                        <div class="sidecontent">frei</div>
                        <div class="sidedetail">(aber Registrierung erforderlich)</div>
                        {% if not logged_in %}
                            <a id="start-register" style="cursor: pointer;display: block; margin-top: 10px;" href="/user/register" class=""><img src="/img/button-register.png" /></a>
                        {% endif %}
                        <div class="sidehead">Weitere Infos</div>
                        <div class="sidedetail">
                            <a href="http://openetherpad.org/jmstvcamp">Planungs-Pad</a><br />
                            <a href="http://twitter.com/jmstvcamp">jmstvcamp bei Twitter</a><br />
                        </div>
                    </div>
                    <div id="socialbar">
                        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FJMStVCamp%2F187845504584630&amp;width=330&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:330px; height:258px;" allowTransparency="true"></iframe>
                    </div>
                </aside>
            </div> <!-- page -->
        </div> <!-- main -->
        <footer>
            <div id="footercontent">
                    <div id="sponsoren">
                        <h4>Wir danken unseren Sponsoren:</h4>
                        <a class="sponsor" href="http://jugendonline.eu/">
                            <img src="/img/sponsoren/ijab.png" />
                        </a>
                        <a class="sponsor" href="http://gruene-nrw.de/">
                            <img src="/img/sponsoren/gruene.png" />
                        </a>
                        <a class="sponsor" href="http://wiki.piratenpartei.de/NRW">
                            <img src="/img/sponsoren/piraten.png" />
                        </a>
                        <a class="sponsor" href="http://www.nrwjusos.de/">
                            <img src="/img/sponsoren/jusos.png" />
                        </a>
                        <a class="sponsor" href="http://comlounge.net/">
                            <img src="/img/sponsoren/comlounge.png" />
                        </a>
                    </div>
                    <hr />
                <a href="/impressum.html">Impressum</a> |
                <a href="/datenschutz.html">Datenschutz</a> |
                Diese Website wird betrieben von der <a href="http://comlounge.net">COM.lounge GmbH</a>
            </div>
        </footer>
    </div> <!--! end of #container -->
    {% endblock %}
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</body>
</html>

