@charset "UTF-8";
/* line 14, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 21, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 23, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 25, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" ""; }
/* line 96, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

/* line 27, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 36, ../../design/src/screen.sass */
body {
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  background: white url('/img/bg.gif?1300033400') repeat; }

/* line 42, ../../design/src/screen.sass */
p {
  margin-bottom: 10px; }

/* line 45, ../../design/src/screen.sass */
img {
  border-style: none; }

/* line 48, ../../design/src/screen.sass */
a {
  color: #335588;
  text-decoration: none; }

/* line 53, ../../design/src/screen.sass */
header {
  display: block;
  margin: 0; }
/* line 57, ../../design/src/screen.sass */
header #loginbox {
  font-size: 90%; }

/* line 60, ../../design/src/screen.sass */
#headercontent, #footercontent {
  margin: 0 auto;
  width: 960px; }

/* line 64, ../../design/src/screen.sass */
#logo {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0;
  float: left;
  width: 600px; }

/* line 71, ../../design/src/screen.sass */
#socialbox {
  margin-top: 10px; }

/* line 75, ../../design/src/screen.sass */
h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  display: block;
  font-style: normal;
  font-weight: bold;
  text-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.053em;
  word-spacing: 0em;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 0px;
  margin-top: 10px; }

/* line 91, ../../design/src/screen.sass */
h3 {
  font-size: 14px;
  color: #555555; }

/* line 95, ../../design/src/screen.sass */
footer {
  display: block;
  border-top: 5px solid #333333;
  padding-top: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 80%; }
/* line 102, ../../design/src/screen.sass */
footer #footercontent {
  color: #555555; }

/* line 105, ../../design/src/screen.sass */
#main {
  margin: 0;
  padding-bottom: 150px;
  background: url(/img/fleck.png) no-repeat top left; }

/* line 110, ../../design/src/screen.sass */
.page {
  margin: 0 auto;
  width: 960px;
  overflow: hidden; }

/* line 115, ../../design/src/screen.sass */
#content {
  margin-top: 20px;
  overflow: hidden; }

/* line 119, ../../design/src/screen.sass */
nav {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 0 0 0;
  margin: 0 0 2px 0;
  background: rgba(128, 128, 128, 0.2);
  color: #333333; }

/* line 129, ../../design/src/screen.sass */
#navblock {
  margin: 0 auto;
  width: 960px; }

/* line 133, ../../design/src/screen.sass */
#navcontent {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-indent: 0; }
/* line 139, ../../design/src/screen.sass */
#navcontent li {
  float: left;
  list-style: none;
  text-transform: uppercase;
  margin-left: 0px;
  margin-right: 80px; }
/* line 146, ../../design/src/screen.sass */
#navcontent li:hover a {
  color: black; }

/* line 153, ../../design/src/screen.sass */
aside {
  float: right;
  margin: 0;
  padding: 10px;
  padding-right: 0;
  padding-top: 0;
  width: 330px;
  margin-top: 20px; }

/* line 162, ../../design/src/screen.sass */
aside#loginbox {
  margin-top: 0; }

/* line 165, ../../design/src/screen.sass */
.bigcolumn {
  width: 600px;
  float: left;
  margin: 0;
  padding: 0; }

/* line 171, ../../design/src/screen.sass */
.rows {
  padding: 0;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 600px;
  overflow: auto; }
/* line 178, ../../design/src/screen.sass */
.rows h1 {
  font-size: 19pt; }
/* line 180, ../../design/src/screen.sass */
.rows .row {
  display: block;
  margin: 0;
  padding: 0;
  width: 280px;
  margin-right: 10px;
  float: left; }
/* line 187, ../../design/src/screen.sass */
.rows .row.last, .rows .bigrow.last {
  margin: 0; }
/* line 189, ../../design/src/screen.sass */
.rows .bigrow {
  float: left;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  width: 460px; }

/* line 196, ../../design/src/screen.sass */
#eintritt {
  position: relative;
  top: -30px;
  left: -30px;
  float: right; }

/* line 202, ../../design/src/screen.sass */
#infobox {
  width: 500px;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
  background-image: linear-gradient(top, #ffffff, #e0e0e0);
  font-family: "Yanone Kaffeesatz", Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 20px; }
/* line 212, ../../design/src/screen.sass */
#infobox .label {
  display: block;
  float: left;
  font-weight: 500;
  width: 100px; }
/* line 217, ../../design/src/screen.sass */
#infobox .info {
  font-weight: 300;
  display: block;
  margin-left: 100px; }

/* line 222, ../../design/src/screen.sass */
#gbutton {
  float: right; }

/* line 225, ../../design/src/screen.sass */
#map_canvas {
  width: 500px;
  border: 1px solid #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));
  background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
  background-image: linear-gradient(top, #ffffff, #e0e0e0);
  height: 400px; }

/* line 234, ../../design/src/screen.sass */
.sideblock {
  margin-bottom: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 0;
  font-size: 18px; }
/* line 240, ../../design/src/screen.sass */
.sideblock .sidehead {
  color: #006688; }
/* line 243, ../../design/src/screen.sass */
.sideblock .sidecontent {
  margin-bottom: 4px; }
/* line 246, ../../design/src/screen.sass */
.sideblock .sidedetail {
  font-size: 10px; }

/* line 250, ../../design/src/screen.sass */
#snbuttons {
  overflow: auto;
  height: 200px; }

/* line 254, ../../design/src/screen.sass */
.fbshare {
  margin: 0 13px; }

/* line 257, ../../design/src/screen.sass */
.twitter-share-button {
  float: left;
  margin-right: 13px; }

/* line 261, ../../design/src/screen.sass */
.sponsor {
  display: inline-block;
  padding: 4px;
  margin: 4px 4px 4px 0; }

/* line 270, ../../design/src/screen.sass */
.form #infotext {
  font-size: 90%;
  color: #555555;
  margin: 3px;
  line-height: 2; }
/* line 276, ../../design/src/screen.sass */
.form .field {
  margin-bottom: 10px;
  padding: 5px; }
/* line 280, ../../design/src/screen.sass */
.form .field .help {
  display: block;
  font-size: 80%;
  color: #888888; }
/* line 285, ../../design/src/screen.sass */
.form .field label {
  display: block;
  font-weight: bold; }
/* line 289, ../../design/src/screen.sass */
.form .field label.radio {
  display: inline;
  font-weight: normal; }
/* line 293, ../../design/src/screen.sass */
.form .field #name, .form .field #email, .form .field #password {
  margin: 2px;
  font-size: 120%;
  width: 500px; }
/* line 298, ../../design/src/screen.sass */
.form .field #organization, .form .field #homepage {
  width: 500px; }
/* line 300, ../../design/src/screen.sass */
.form .field.error {
  border: 1px solid #aa0000;
  background: #ffeebb; }
/* line 303, ../../design/src/screen.sass */
.form .field.error label {
  color: red; }
/* line 305, ../../design/src/screen.sass */
.form .field.error input {
  outline-color: red; }
/* line 307, ../../design/src/screen.sass */
.form .field.error .error {
  display: block; }

/* line 310, ../../design/src/screen.sass */
.button {
  border: 1px solid #555555;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 3px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(200, 200, 200, 0.7)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.7));
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(200, 200, 200, 0.7));
  cursor: pointer; }

/* line 318, ../../design/src/screen.sass */
.button.yes {
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99ccff), color-stop(100%, #3399ff));
  background-image: -moz-linear-gradient(top, #99ccff, #3399ff);
  background-image: linear-gradient(top, #99ccff, #3399ff); }

/* line 322, ../../design/src/screen.sass */
.button.maybe {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d4e5f7), color-stop(100%, #7db2e8));
  background-image: -moz-linear-gradient(top, #d4e5f7, #7db2e8);
  background-image: linear-gradient(top, #d4e5f7, #7db2e8); }

/* line 325, ../../design/src/screen.sass */
.button.no {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b8cce0));
  background-image: -moz-linear-gradient(top, #ffffff, #b8cce0);
  background-image: linear-gradient(top, #ffffff, #b8cce0); }

/* line 328, ../../design/src/screen.sass */
.button.block {
  display: inline-block;
  font-size: 110%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
  background-image: linear-gradient(top, #ffffff, #cccccc); }

/* line 334, ../../design/src/screen.sass */
.button.register {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 15px;
  background: url(/img/button.png) no-repeat;
  border: none;
  width: 270px;
  height: 100px;
  margin: 2px 12px 0 0;
  color: white;
  text-shadow: 0 -1px 0 #0088cc;
  float: left; }

/* line 353, ../../design/src/screen.sass */
#forgotten {
  font-size: 10px;
  color: #aaaaaa;
  display: block;
  padding-top: 20px; }

/* line 360, ../../design/src/screen.sass */
#introtext {
  line-height: 1.8;
  margin: 10px 0;
  font-size: 13px; }

/* line 365, ../../design/src/screen.sass */
fieldset {
  border: 1px solid #aaaaaa;
  padding: 5px;
  margin: 3px; }
/* line 370, ../../design/src/screen.sass */
fieldset legend {
  font-weight: bold;
  background: white;
  padding: 4px; }
/* line 375, ../../design/src/screen.sass */
fieldset .description {
  font-size: 90%;
  color: #444444; }

/* line 380, ../../design/src/screen.sass */
#profile {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 5px; }
/* line 386, ../../design/src/screen.sass */
#profile div {
  padding: 0 5px; }
/* line 389, ../../design/src/screen.sass */
#profile #name {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #224477;
  font-size: 50px;
  margin: 0;
  padding: 0; }
/* line 398, ../../design/src/screen.sass */
#profile #organization {
  margin-top: -14px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #336677; }
/* line 404, ../../design/src/screen.sass */
#profile h3 {
  margin-top: 10px;
  border: none;
  font-size: 110%; }
/* line 409, ../../design/src/screen.sass */
#profile #biocontent {
  font-size: 12px; }
/* line 412, ../../design/src/screen.sass */
#profile ul {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
  margin: 4px 0; }
/* line 417, ../../design/src/screen.sass */
#profile ul li:before {
  content: "\00BB \0020"; }

/* line 421, ../../design/src/screen.sass */
hr {
  margin: 17px 0 18px;
  height: 0;
  clear: both;
  border: solid #dddddd;
  border-width: 1px 0 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid white; }

/* line 431, ../../design/src/screen.sass */
em {
  font-weight: bold; }

/* line 436, ../../design/src/screen.sass */
#participants .plist {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-rule: 1px solid #dddddd;
  -webkit-column-rule: 1px solid #dddddd;
  -o-column-rule: 1px solid #dddddd;
  column-rule: 1px solid #dddddd;
  margin-bottom: 20px; }

/* line 443, ../../design/src/screen.sass */
h4 {
  font-size: 20px;
  color: #334455;
  border-bottom: 1px solid #cccccc; }

/* line 448, ../../design/src/screen.sass */
.tweets .tweet {
  margin: 0;
  padding: 0;
  width: 280px;
  margin-bottom: 10px;
  font-size: 10px;
  color: #333333;
  overflow: auto; }
/* line 457, ../../design/src/screen.sass */
.tweets .tweet .tweet_avatar {
  float: left;
  padding: 1px;
  margin-right: 4px; }
/* line 462, ../../design/src/screen.sass */
.tweets .tweet .tweet-content {
  margin-left: 60px; }
/* line 464, ../../design/src/screen.sass */
.tweets .tweet .tweet_time {
  display: block;
  color: #666666; }
/* line 467, ../../design/src/screen.sass */
.tweets .tweet .tweet_user {
  font-weight: bold;
  font-size: 11px;
  display: block; }

/* line 473, ../../design/src/screen.sass */
.desc {
  color: #333333;
  padding: 5px; }

/* line 477, ../../design/src/screen.sass */
#loginform {
  padding: 5px;
  margin-bottom: 30px; }
/* line 480, ../../design/src/screen.sass */
#loginform #helptext {
  padding: 5px; }

/* line 483, ../../design/src/screen.sass */
#sponsoren {
  margin-top: 30px; }
