{% extends "templates/master.html" %}
{% block content %}
<div id="datenschutz">
    <h2>Datenschutz</h2>
    <p>
    Wir speichern und verwenden Ihre personenbezogenen Daten einschließlich Ihrer E-Mail-Adresse ausschließlich zur Bereitstellung Ihres Accounts und den Versand von Newslettern zum JMStVCamp.
    </p>

    <p>
    Personenbezogene Daten sind Informationen, die explizit genutzt werden können, um Ihre Identität zu erfahren, dies sind in diesem Fall Ihr richtiger Name und Ihre E-Mail-Adresse. Ihr Name wird öffentlich angezeigt. Die E-Mail-Adresse wird niemals öffentlich angezeigt.
    </p>

    <h3>Keine Weitergabe Ihrer Daten</h3>

    <p>
    Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter. Sie werden einzig und allein zur Durchführung des JMStVCamps genutzt.
    </p>

    <h3>Auskunft, Berichtigung, Sperrung und Löschung Ihrer Daten</h3>

    <p>
    Sie haben im Rahmen des Bundesdatenschutzgesetzes ein Recht auf Auskunft sowie ein Recht auf Berichtigung, Sperrung und Löschung Ihrer gespeicherten Daten. Sofern einer Löschung gesetzliche, vertragliche oder handels- bzw. steuerrechtliche Aufbewahrungsfristen oder sonstige gesetzlich verankerte Gründe entgegenstehen, kann anstelle einer Löschung nur eine Sperrung Ihrer Daten erfolgen.
    </p>

    <h3>Datenschutzgesetze</h3>

    <p>
    Personenbezogene Daten werden ausschließlich im Rahmen der gesetzlichen Vorschriften des Bundesdatenschutzgesetzes (BDSG) sowie des Informations- und Teledienstedatenschutzgesetz (TDDSG) erhoben und gespeichert.
    </p>

    <h3>Verwendung piwik</h3>
    <p>
        Diese Website nutzt piwik, einen Open Source-Tool zur Erstellung von Web-Statistiken. Die Daten werden mit Hilfe von 
    Cookie erhoben und lokal auf unserem Server gespeichert. Eine Weitergabe der Daten findet nicht statt und sie werden zudem
    nur zur statistischen Auswertung und zur Verbesserung der Web-Angebots genutzt.
    </p>

    <h3>Verwendung Facebook Social Plugins</h3>

    <p>
    Unser Internetauftritt verwendet Social Plugins („Plugins“) des sozialen Netzwerkes facebook.com, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird („Facebook“). Die Plugins sind an einem der Facebook Logos erkennbar (weißes „f“ auf blauer Kachel oder ein „Daumen hoch“-Zeichen) oder sind mit dem Zusatz „Facebook Social Plugin“ gekennzeichnet. Die Liste und das Aussehen der Facebook Social Plugins kann hier eingesehen werden: http://developers.facebook.com/plugins.
    </p>

    <p>
    Wenn Sie eine Webseite unseres Internetauftritts aufrufen, die ein solches Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden. Wir haben daher keinen Einfluss auf den Umfang der Daten, die Facebook mit Hilfe dieses Plugins erhebt und informieren Sie daher entsprechend unserem Kenntnisstand:
    </p>

    <p>
    Durch die Einbindung der Plugins erhält Facebook die Information, dass Sie die entsprechende Seite unseres Internetauftritts aufgerufen haben. Sind Sie bei Facebook eingeloggt, kann Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den Like Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert. Falls Sie kein Mitglied von Facebook sind, besteht trotzdem die Möglichkeit, dass Facebook Ihre IP-Adresse in Erfahrung bringt und speichert.
    </p>

    <p>
    Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatssphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook: http://www.facebook.com/policy.php.
    </p>

    <p>
    Wenn Sie Facebookmitglied sind und nicht möchten, dass Facebook über unseren Internetauftritt Daten über Sie sammelt und mit Ihren bei Facebook gespeicherten Mitgliedsdaten verknüpft, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts bei Facebook ausloggen.
    </p>

    <p>
    Ebenfalls ist es möglich Facebook-Social-Plugins mit Add-ons für Ihren Browser zu blocken, zum Beispiel mit dem <a href="http://webgraph.com/resources/facebookblocker/">„Facebook Blocker“</a>.
    </p>

    
</div>
{% endblock %}
