{% extends "templates/master.html" %}
{% block content %}
<div id="fb-root"></div>
    <div class="contentbox">
        <div class="content">
            <div class="bigcolumn" id="content">
            <h3>Impressum</h3>
                <p>Diese Website wird betrieben von:</p>
                <address>
                    <p>
                    COM.lounge GmbH<br>
                    Hanbrucher Str. 33<br>
                    52064 Aachen<br>
                    Tel.: 0241/4007300<br>
                    </p>
                    <p>
                    Homepage: <a href="http://comlounge.net/">http://comlounge.net</a><br>
                    E-Mail: <a href="mailto:info@comlounge.net">info@comlounge.net</a><br>
                    </p>
                </address>
            </div>
        </div>
    </div>
{% endblock %}
