{% extends "templates/master.html" %}
{% block content %}
    {% if logged_in %}
    <div id="attendstatebox">
        <div id="status">
            Ihr Teilnamestatus:
            <b>{% if user.attend=="yes" %}
                {% if user.waitinglist %}
                    Sie sind auf der Warteliste.
                {% else %}
                    Sie nehmen an der Veranstaltung teil.
                {% endif %}
            {% elif user.attend=="maybe" %}
                Sie nehmen vielleicht teil.
            {% elif user.attend=="no" %}
                Sie nehmen nicht teil.
            {% endif %}</b>
        </div>
        <div id="changestate">
            <form method="post" action="/user/state">
                <h3>Teilnahmestatus ändern:</h3>
                {% if user.attend!="yes" %}
                    <button type="submit" name="attend" value="yes" id="button-yes" class="button yes">Ja, ich komme!</button>
                {% endif %}
                {% if user.attend!="maybe" %}
                    <button type="submit" name="attend" value="maybe" id="button-maybe" class="button maybe">Ich komme vielleicht</button>
                {% endif %}
                {% if user.attend!="no" %}
                    <button type="submit" name="attend" value="no" id="button-no" class="button no">Ich komme nicht, will aber informiert werden</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% else %}
        <div id="attendstatebox">
            <p>
            Um Ihren Teilnahmestatus zu ändern, loggen Sie sich bitte ein. <a class="button" href="/login">Login</a>
            </p>
        </div>
    {% endif %}
    <div id="participants">
        <h2 style="margin-bottom: 20px" >Teilnehmer ({{yes.count()}} von {{count}})</h2>
        <ul class="plist">
            {% for u in yes %}
            <li><a href="/user/{{u._id}}" class="{{ 'me' if u._id == user._id  }}">{{u.name}}</a>{% if u.organization %}<span class="orga">, {{u.organization}}</span>{% endif %}
            </li>
            {% endfor %}
        </ul>
        <h2 style="margin-bottom: 20px" >Warteliste ({{waiting.count()}})</h2>
        <ul class="plist">
            {% for u in waiting %}
            <li><a href="/user/{{u._id}}" class="{{ 'me' if u._id == user._id  }}">{{u.name}}</a>{% if u.organization %}<span class="orga">, {{u.organization}}</span>{% endif %}
            {% endfor %}
        </ul>
        <h2 style="margin-bottom: 20px" >Nehmen vielleicht teil ({{maybe.count()}})</h2>
        <ul class="plist">
            {% for u in maybe %}
            <li><a href="/user/{{u._id}}" class="{{ 'me' if u._id == user._id  }}">{{u.name}}</a>{% if u.organization %}<span class="orga">, {{u.organization}}</span>{% endif %}
            {% endfor %}
        </ul>
        <h2 style="margin-bottom: 20px" >Interessenten ({{no.count()}})</h2>
        <ul class="plist">
            {% for u in no %}
            <li><a href="/user/{{u._id}}" class="{{ 'me' if u._id == user._id  }}">{{u.name}}</a>{% if u.organization %}<span class="orga">, {{u.organization}}</span>{% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
