{% extends "templates/master.html" %}
{% block content %}
    <div id="profile">
        <h2 style="margin-bottom: 20px" >Teilnehmer: {{user.name}}</h2>
        {% if user.organization %}
            <div class="label">Organisation:</div>
            <div class="value">{{user.organization}}</div>
        {% endif %}
        {% if user.homepage %}
            <div class="label">Homepage:</div>
            <div class="value">{{user.homepage}}</div>
        {% endif %}
        {% if user.twitter %}
            <div class="label">Twitter-Account:</div>
            <div class="value"><a href="http://twitter.com/{{user.twitter}}">http://twitter.com/{{user.twitter}}</a></div>
        {% endif %}
    </div>
{% endblock %}
