{% extends "templates/master.html" %}
{% block content %}
<div id="profile">

        <div id="head">
            <div id="name">{{user.name|e}}</div>
            {% if user.organization %}
                <div id="organization">{{user.organization|e}}</div>
            {% endif %}
        </div>
        <hr>
        <div id="details">

            {% if user.homepage %}
                <div id="homepage">Homepage: <a href="{{user.homepage}}">{{user.homepage|e}}</a></div>
            {% endif %}


            {% if user.twitter %}
                <div id="twitter">Twitter:
                    <a href="http://twitter.com/{{user.twitter|e}}">http://twitter.com/{{user.twitter|e}}</a>
                </div>
            {% endif %}
        </div>

        {% if user.bio %}
            <hr>
            <div id="bio">
                <div id="biocontent">{{user.fmt_bio}}</div>
            </div>
        {% endif %}

    </div>
    {% if ownprofile %}
    <div id="editbox">
        <a href="/user/edit" class="button block">Profil bearbeiten</a>
    </div>
    {% endif %}
{% endblock %}
