{% extends "templates/master.html" %}
{% block content %}
<div id="profile">

        <div id="head">
            <div id="name">{{myuser.name|e}}</div>
            {% if myuser.organization %}
                <div id="organization">{{myuser.organization|e}}</div>
            {% endif %}
        </div>
        <hr>
        <div id="details">

            {% if myuser.homepage %}
                <div id="homepage">Homepage: <a href="{{myuser.homepage}}">{{myuser.homepage|e}}</a></div>
            {% endif %}


            {% if myuser.twitter %}
                <div id="twitter">Twitter:
                    <a href="http://twitter.com/{{myuser.twitter|e}}">http://twitter.com/{{myuser.twitter|e}}</a>
                </div>
            {% endif %}
        </div>

        {% if myuser.bio %}
            <hr>
            <div id="bio">
                <div id="biocontent">{{myuser.fmt_bio}}</div>
            </div>
        {% endif %}

    </div>
    {% if ownprofile %}
    <div id="editbox">
        <a href="/user/edit" class="button block">Profil bearbeiten</a>
    </div>
    {% endif %}
{% endblock %}
