{% extends "templates/master.html" %}
{% block content %}
<div id="programm">
    <h2>Das Programm...</h2>
    <p>
        gibt es nicht im Vorfeld, denn das Programm wird von den Teilnehmern erst
        vor Ort definiert, indem jeder, der möchte, Sessions vorschlagen kann.
    </p>
    <p>
        Auf dieser Seite kann man allerdings schonmal Themenvorschläge hinterlassen, 
        um zu schauen, ob generell Interesse besteht. Es dient auch als Ideengeber für
        eigene Sessions.
    </p>

    <h2 style="margin-top: 30px">Themenvorschläge</h2>
    {% if logged_in %}
    <form id="newthema" method="POST" action="/themen/new">
        <h3 style="margin-left: 3px" >Ihr Vorschlag</h3>
        <textarea cols="75" rows="4" name="content" id="textinp"></textarea>
        <input type="submit" class="button topics" value="Neues Thema vorschlagen" />
        <a id="markdown-open" href="#">Formatierungshilfe</a>
    </form>
    {% else %}
    <div id="newthema-login">
        Um Themenvorschläge einreichen zu können, müssen Sie eingeloggt sein.
        <a href="/login">zum Login</a>
    </div>
    {% endif %}

    <ul id="themen">
        {% for thema in themen %}
        <li class="thema">
            {% if thema.mine %}
            <div class="actions">
                <a class="thema-edit" href="#" data-id="{{thema._id}}">✎</a>
            </div>
            {% endif %}
            <div class="voting">
                <div class="votes" id="vote-{{thema._id}}">{{thema.votes}}</div>
                {% if logged_in %}
                <div class="votecontainer"><a id="votebutton-{{thema._id}}" data-id="{{thema._id}}" class="vote {{'active' if thema.has_voted else 'inactive'}}"></a></div>
                {% else %}
                <div class="vote-login">Bitte loggen Sie sich ein, um zu voten</div>
                {% endif %}
            </div>


            <div class="themabody">
                <div class="text" id="text-{{thema._id}}">
                    {{thema.fmt}}
                </div>
                {% if thema.mine %}
                <form class="form text-edit" id="form-{{thema._id}}" method="post" action="/themen/{{thema._id}}">
                    <textarea cols="75" rows="10" name="content" id="textinp">{{thema.content|e}}</textarea>
                    <input type="submit" class="button topics" value="Aktualisieren" />
                </form>
                {% endif %}
                <div class="byline">
                    eingestellt von <a href="/user/{{thema.user._id}}">{{thema.user.name|e}}</a>, {{thema.user.organization}}
                </div>
            </div>

        </li>
        {% endfor %}
    </ul>
</div>
<script>
    function update(i, data) {
        $("#vote-"+i).text(data.votes);
        if (data.myvote) {
            $("#votebutton-"+i).attr("class", "vote active");
        } else {
            $("#votebutton-"+i).attr("class", "vote inactive");
        }
    }

    $(document).ready(function() {
        $(".vote").click(function() {
            var i = $(this).attr("data-id");
            $.ajax({
                url: "/themen/"+i+"/vote",
                type: "POST",
                success: function(data) {
                    update(i, data);
                }
            })
            return false;
        });
        $(".thema-edit").click(function() {
            var i = $(this).attr("data-id");
            $("#text-"+i).slideUp(100,
                function () {
                    $("#form-"+i).slideDown(100);
                }
            );
            return false;
        });
    });
</script>
{% endblock %}
