{% extends "templates/master.html" %}
{% block content %}
    <div id="registrationblock">
        <h2 style="margin-bottom: 20px" >Registrierung</h2>
        <div class="desc">
            Um am JMStVCamp teilnehmen zu können, müssen Sie sich zunächst registrieren.
            Sie erhalten dann einen Zugang und sind verbindlich angemeldet. Geben Sie dazu unten
            bitte Ihren Namen und Ihre E-Mail-Adresse an.
        </div>
        <form id="registrationform" action="/user/register" method="POST" class="form">
            <div class="field {{'error' if errors.name}}">
                <label for="name">Mein Name*</label>
                <input type="text" id="name" name="name" value="{{values.name|e}}" size="30" maxlength="255" autofocus>
                <span class="help">Der Name wird öffentlich in der Teilnehmerliste angezeigt.</span>
                {% if errors.name %}
                    <span class="error">{{errors.name}}</span>
                {% endif %}
            </div>
            <div class="field {{'error' if errors.email}}">
                <label for="email">Meine E-Mail-Adresse*</label>
                <input type="text" id="email" value="{{values.email|e}}" name="email" size="30" maxlength="255">
                <span class="help">Die E-Mail-Adresse wird nicht öffentlich angezeigt.</span>
                {% if errors.email %}
                    <span class="error">{{errors.email}}</span>
                    {% if state=="created" %}
                        <a href="/user/newcode?email={{values.email}}" class="button block">Anmelde-Mail noch einmal senden</a>
                    {% endif %}
                    {% if state=="live" %}
                        <a href="/user/newpw?email={{values.email}}" class="button block">Ein neues Passwort zusenden</a>
                    {% endif %}
                {% endif %}
            </div>
            {% if full %}
            <div class="warning">
                Leider ist die maximale Anzahl von Teilnehmern schon erreicht. Sollten Sie "Ja" antworten, werden Sie
                daher zunächst auf die Warteliste gesetzt und bekommen per E-Mail Bescheid, wenn Sie teilnehmen werden.
                Bitte überprüfen Sie zur Sicherheit Ihren Teilnahmestatus auch noch einmal hier auf der Website unter
                <a href="/teilnehmer.html">"Teilnehmer"</a>.
            </div>
            {% endif %}
            <div class="field buttons">
                <button type="submit" name="attend" value="yes" id="button-yes" class="button yes">Ja, ich komme!</button>
                <button type="submit" name="attend" value="maybe" id="button-maybe" class="button maybe">Ich komme vielleicht</button>
                <button type="submit" name="attend" value="no" id="button-no" class="button no">Ich komme nicht, will aber informiert werden</button>
            </div>
            <div id="infotext">
            </div>
        </form>
    </div>
{% endblock %}
