{% extends "templates/master.html" %}
{% block content %}
    <div id="registrationsuccess">
        <h2 style="margin-bottom: 20px" >Vielen Dank für Ihre Anmeldung!</h2>
        <p>
        Sie erhalten nun eine E-Mail mit einem Bestätigungslink, den Sie anklicken
        müssen, damit ihre Anmeldung auch wirklich gültig ist. Bitte schauen Sie auch 
        in Ihrem Spam-Ordner nach, da solche Mails dort manchmal versehentlich einsortiert 
        werden.
        </p>
    </div>
{% endblock %}
