{% extends "templates/master.html" %}
{% block content %}
<div id="infobox">
    <div id="gbutton">
        <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=JMStVCamp&dates=20110430/20110431&details=&location=Unperfekthaus%20Essen&trp=false&sprop=http%3A%2F%2Fjmstvcamp.de&sprop=name:JMStVCamp" target="_blank"><img src="http://www.google.com/calendar/images/ext/gc_button6_de.gif" border=0></a>
    </div>
    <div class="label">Beginn</div>
    <div class="info">30. April 2011, 10 Uhr</div>

    <div class="label">Ende</div>
    <div class="info">30. April 2011, 18 Uhr</div>

    <div class="label">Wo?</div>
    <div class="info">
        <a href="http://www.unperfekthaus.de/">Unperfekthaus Essen</a><br>
        Friedrich-Ebert-Str. 18<br>
        45127 Essen-City<br>
    </div>
</div>

<h2>Karte</h2>
<div id="map_canvas"> </div>


    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var address="Friedrich-Ebert-Str. 18, 45127 Essen-City"
        function init() {
            var geocoder = new google.maps.Geocoder();
            if (geocoder) {
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        show(results[0].geometry.location);
                    } else {
                        alert("Geocode was not successful for the following reason: " + status);
                    }
                });
            }
        }
        
        function show(latlng) {
            var myOptions = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                map: map, 
                position: latlng
            });
        }
        init();
    </script>
{% endblock %}


